<div style="height: 300px;width: 400px;margin-top:100px;margin-left: 35% ">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">提交人</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="示例：周强/6092002351">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">备注</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="对版本的基本描述，与其他备注">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">上传热补丁文件</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> 需要进行基本业务验证
    </label>
  </div>
  <button type="submit" class="btn btn-default">提交版本</button>
</form>
</div>

<div style="height: 300px;width: 400px;margin-top:400px;margin-left: 35% ">
<div class="group">
    <label for="exampleInputPassword1">热补丁版本文件</label>
    <select id='sel' name="b_id">
        <option value="i1">版本文件</option>
    </select>
</div>
<div class="group">
    <p>选择网管</p>
    <select id='sel' name="b_id" style="width: 100px">
        <option value="i1">416</option>
        <option value="i1">417</option>
        <option value="i1">415</option>
    </select>
</div>
<div class="group">
    <p>选择基站</p>
    <select id='sel' name="b_id" style="width: 100px">
        <option value="i1">87</option>
        <option value="i1">88</option>
        <option value="i1">89</option>
    </select>
</div>
<div class="checkbox">
    <label>
      <input type="checkbox"> 是否执行自动化
    </label>
  </div>
 <button type="submit" class="btn btn-default">提交</button>
    </div>